/* Fonts */
$merriweather: 'Merriweather', serif;
$roboto: 'Roboto', sans-serif;

/* Base colors */ 
$white: #ffffff;
$black: #000000;
$gray: #a2a2a2;
$mid-gray: #555558;
$dark-gray: #3c3d42;
$text-black: #2c2c2c;
$purple: #660099;
$red: #ec02d3;
$orange: #f78263;
$green: #5ebc8a;
$light-pink: #feeffb;
$light-green: #e7faf8;
$smoke-white: #f0f0f0;
$cararra: #F3F3EF;
$light-gray: #EFEFEF;

/* Flex grid mixins */
@mixin row {
  display: flex;
  flex-wrap: wrap;
}

@mixin nowrap {
  display: flex;
  flex-wrap: nowrap;
}

@mixin column($col-width) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 $col-width;
  flex: 0 0 $col-width;
  max-width: $col-width;
  width: 100%;
}

/*  Media query variables */
$phone_width: 481px;
$phablet_width: 596px;
$tablet_width: 768px;
$desktop_width: 992px;
$desktop_mid_width: 1024px;
$container_width: 1200px;

/*
 * Mobile landscape media query
 */

/* (max-width:1200px) */
@mixin container-down {
  @media (max-width: #{$container_width}) {
    @content;
  }
}

/* (max-width:991px) */
@mixin desktop-down {
  @media (max-width: #{$desktop_width - 1px}) {
    @content;
  }
}

/* (min-width:992px) */
@mixin desktop-up {
  @media (min-width: #{$desktop_width}) {
    @content;
  }
}

/* (max-width:767px) */
@mixin tablet-down {
  @media (max-width: #{$tablet_width - 1px}) {
    @content;
  }
}

/* (min-width:768px) */
@mixin tablet-up {
  @media (min-width: #{$tablet_width}) {
    @content;
  }
}

/* (max-width:595px) */
@mixin phablet-down {
  @media (max-width: #{$phablet_width - 1px}) {
    @content;
  }
}

/* (min-width:595px) */
@mixin phablet-up {
  @media (min-width: #{$phablet_width}) {
    @content;
  }
}

/*  (max-width:480px) */
@mixin phone-down {
  @media (max-width: #{$phone_width - 1px}) {
    @content;
  }
}
