.col-two-grid {
    background: $smoke-white;
    .row-wrap {
        @include row;
        .col-wrap {
            @include column(50%);
            text-align: center;
            h2 {
                font-family: $merriweather;
                font-weight: 600;
                margin: 20px 0 10px;
            }
            p {
                color: $dark-gray;
            }
        }
    }
}