.product-grid {
    overflow: visible;
    .product-filter {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        .inner-row {
            padding: 20px 0;
            @include nowrap;
            justify-content: space-between;
            .change-view {
                span {
                    vertical-align: super;
                    font-size: 14px;
                    position: relative;
                    display: inline-block;
                    padding-left: 20px;
                    margin-left: 20px;
                    &::before {
                        position: absolute;
                        content: "";
                        top: -25px;
                        left: 0;
                        width: 1px;
                        height: calc(100% + 53px);
                        background: #ccc;
                    }
                }
            }
            .sort {
                span {
                    font-size: 14px;
                    color: gray;
                    display: inline-block;
                    padding: 0 15px;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        top: -25px;
                        left: 0;
                        width: 1px;
                        height: calc(100% + 53px);
                        background: #ccc;
                    }
                }
                .dropdown {
                    display: inline-block;
                    position: relative;
                    .selector {
                        p {
                            font-size: 14px;
                            position: relative;
                            padding-right: 20px;
                            &::after {
                                position: absolute;
                                content: "";
                                top: 7px;
                                right: 0;
                                border-style: solid;
                                border-width: 5px;
                                border-color: $black transparent transparent transparent;
                            }
                        }
                    }
                    .menu {
                        display: none;
                        position: absolute;
                        top: 25px;
                        left: 0;
                        background: $white;
                        li {
                            font-size: 14px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    .row-wrap {
        @include row;
        margin: 0 -20px;
        .col-wrap {
            @include column(33.33%);
            padding: 0 15px;
            margin-bottom: 30px;
            .product {
                width: 100%;
                border: 1px solid $light-gray;
                position: relative;
                background: $white;
                padding: 20px;
                .img-wrap {
                    width: 100%; 
                    height: 300px;
                    position: relative;
                    margin-bottom: 20px;
                    &:hover {
                        .hover-img {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .hover-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                    }
                }
                .choices {
                    margin: 35px 0 20px;
                    li {
                        display: inline-block;
                        margin-right: 5px;
                        img {
                            width: 24px;
                        }
                    }
                }
                .amount-row {
                    @include nowrap;
                    justify-content: space-between;
                    h3 {
                        font-family: $merriweather;
                        font-size: 32px;
                        span {
                            font-family: $merriweather;
                            font-size: 18px;
                            color: $gray;
                            text-decoration: line-through;
                        }
                    }
                    .add-to-bag {
                        font-size: 18px;
                        color: $purple;
                    }
                }
                .fav-btn {
                    display: inline-block;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    &:hover {
                        img {
                            filter: invert(8%) sepia(73%) saturate(5972%) hue-rotate(
                                283deg
                                ) brightness(107%) contrast(109%);
                        }
                    }
                    img {
                        width: 50px;
                        transition: all .3s ease-in-out;
                    }
                }
            }
            .category {
                padding: 20px;
                height: 100%;
                position: relative;
                overflow: hidden;
                &::before {
                    position: absolute;
                    content: "";
                    inset: 0;
                    background: rgba(0, 0, 0, .2);
                    z-index: 1;
                }
                &:hover {
                    .bg-img {
                        transform: scale(1.1);
                    }
                }
                .bg-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    inset: 0;
                    transition: all .2s ease-in-out;
                }
                .text-box {
                    height: 100%;
                    position: relative;
                    border: 1px solid $white;
                    z-index: 1;
                    .text-wrap {
                        position: absolute;
                        bottom: 20px;
                        padding: 20px;
                        p {
                            color: $white;
                            font-size: 18px;
                            margin-bottom: 7px;
                        }
                        h2 {
                            color: $white;
                            font-weight: bold;
                            font-size: 45px;
                        }
                    }
                }
            }
        }
    }
}