.header {
    .top-block {
        border-bottom: 1px solid $light-gray;
        .inner-wrap {
            @include nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;
            .links {
                &.left {
                    li {
                        margin-right: 20px;
                    }
                }
                &.right {
                 li {
                     margin-left: 20px;
                 }
               }
                li {
                    display: inline-block;
                    font-size: 12px;
                    font-weight: 500;
                    position: relative;
                    a {
                        font-weight: 400;
                        font-size: 12px;
                        img {
                            vertical-align: middle;
                        }
                        .total-items {
                             padding: 2px 6px;
                             background: #000000;
                             color: #ffffff;
                             border-radius: 50%;
                             width: 18px;
                             height: 18px;
                             font-size: 12px;
                             display: inline-block;
                             margin-left: 5px;
                        }
                    }
                    .sub-menu {
                        background: $white;
                        position: absolute;
                        top: 44px;
                        right: 0;
                        display: inline-block;
                        width: 160px;
                        padding: 0 20px;
                        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
                        z-index: 9;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        li {
                            display: block;
                            padding: 13px 0;
                            margin: 0;
                            border-bottom: 2px solid rgba(0, 0, 0, .1);
                            img {
                                margin-right: 10px;
                            }
                            a {
                                transition: all .3s ease-in-out;
                                &:hover {
                                    color: $purple;
                                }
                            }
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                    &:hover {
                        .sub-menu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            .logo-wrap {
                img {
                    width: 135px;
                }
            }
         }
    }
    .nav-block {
        .nav {
            padding: 12px 0;
            ul {
                @include nowrap;
                justify-content: space-between;
                li {
                    display: inline-block;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        bottom: -12px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background: $purple;
                        transition: all .3s ease-in-out;
                    }
                    &:hover {
                        &::before {
                            width: 100%;
                        }
                        a {
                            color: $purple;
                        }
                    }
                    &.active {
                        &::before {
                            width: 100%;
                        }
                        a {
                            color: $purple;
                        }
                    }
                    a {
                        font-size: 12px;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
}
